In [ ]:
import re

string = "Tiger is the national animal of india"
pattern = "Tiger"

mo = re.match(pattern, string)
print(mo)

<_sre.SRE_Match object; span=(0, 5), match='Tiger'>

In [ ]:
import re

string = "Tiger is the national animal of india"
pattern2 = "lion"

mo = re.match(pattern2, string)
print(mo)

None

In [ ]:
import re

string = "Tiger is the national animal of india"
pattern3 = "national"

mo = re.match(pattern3, string)
print(mo)

None

In [ ]:
mo = re.search(pattern3, string)
print(mo)

<_sre.SRE_Match object; span=(13, 21), match='national'>

In [ ]:
print(mo.group(0))

national

In [ ]:
import re

string = "Tiger is the national animal of india and national sports is hockey"
pattern4 = "national"

mo = re.findall(pattern4, string)
print(mo)

['national', 'national']

In [ ]:
mo = re.finditer(pattern4, string)
#gives the indexes  
for m in mo:
  print(m.start())

13
42

In [ ]:
string = "Ritesh was born on 03-05-1993 and he was admitted to school on 04-06-1997"
pattern = "\d{2}-\d{2}-\d{4}"

mo = re.findall(pattern, string)
print(mo)

['03-05-1993', '04-06-1997']

In [ ]:
print(re.sub(pattern, "Saturday", string))

Ritesh was born on Saturday and he was admitted to school on Saturday